In [ ]:
# A lambda function is a small anonymous function

In [ ]:

# create the function 
# f = lambda_keyword     input arguments  :  operation /expression



#    call the function 


# f (input arguments)

In [24]:
f = lambda x,y : x+y 
f

In [19]:
# call the function

f(5,6)

11

In [20]:
#return the length of string 

string_length = lambda s: len(s)

string_length("manvi lather")

12

In [21]:
multiply = lambda x,y : x*y

multiply(3,4)

12

In [22]:
# square of two numbers 

square = lambda x,y : x**2

square(3,4)

9

In [23]:
# task 1 : convert a list of interger to their corresponding square values : 

num_list = [1,2,3,4,5,6]

square_num = (lambda x :x**2)   #lambda function cal square of a num


sqaure_map = map(square_num,num_list) # map function is used to apply lambda function to each num in the num_list

sqaure_list = list(sqaure_map) # to convert the result to list 

print(sqaure_list)

[1, 4, 9, 16, 25, 36]

In [17]:
#  re-write the above funnction

num_list = [1,2,3,4,5,6]
sqaure_list= list(map((lambda x :x**2),num_list))  
print(sqaure_list)

[1, 4, 9, 16, 25, 36]

In [28]:
# map function is a replacement of for loop 

# lets use for loop instead of map in the above code.

# or we can say  tradition way of writing the code  

num_list = [1,2,3,4,5,6]

square_num : lambda x : X**2

square_list = []

for num in num_list : 
    y = square_num(num)
    square_list.append(y)

print(square_list)

[1, 4, 9, 16, 25, 36]

In [32]:
# task 2 : filter out even numbers from the list : 

Num_list= range(20)


# lambda function 

even_num = list(filter(lambda num : num% 2 == 0, Num_list))
even_num


# here we have used filter function . Filter function run the lambda fucntion on each element of the list and return only TRUE values

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
# traditional way of writing the same code : 



Num_list= range(20)

even_list=[]
for num in Num_list: 
    if num % 2 == 0: 
        even_list.append(num)
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [38]:
# task 3 : Sort a list of strings based on their alphabetical character and length 

# traditional way 


string_list = ['apple','banana','kiwi','cherry','blueberry','fig']

print(sorted(string_list))  #sorting on only alphabetical character


print(sorted(string_list,key= lambda x:len(x)))

['apple', 'banana', 'blueberry', 'cherry', 'fig', 'kiwi']
['fig', 'kiwi', 'apple', 'banana', 'cherry', 'blueberry']

In [40]:
# task 4 :  sorting a list of dictionaries based on a specific key 

people = [
    {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
    {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
    {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
]

people

[{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
 {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'}]

In [42]:
# sort using age 

sorted(people, key= lambda x: x['age'])

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [44]:
# two colum are used to sort 

sorted(people, key= lambda x: (x['age'],x['name']))

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [60]:
# task 5a  : 

## Finding max num


data = list(range(10))  #Create a sequence of numbers

print(type(data))


print('\n')

max(data)

<class 'list'>

9

In [1]:
# task 5 b: 

## Finding the key with maximum value in a dictionary


data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}



max(data,key=lambda x:data[x])

'b'