In [ ]:
# set : no duplicate items , need to sort the data 
#  has many properties of list but we cannot use indexing in set that means we cannot assign values as well 



# if a list has duplicates values and you want only unique values , convert the list to the set .

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
# define sets 


type({1})

set

In [3]:

type({1,2,3,4,"manvi"})

set

In [4]:
# making set from list

set([1,2,3])

{1, 2, 3}

In [5]:
set([1,2,3,3])


# only unique values are printed

{1, 2, 3}

In [7]:
set_var = {'avengers','ironman','hitman'}
print(set_var)

type(set_var)

{'avengers', 'hitman', 'ironman'}

set

In [9]:
set_var.add("hulk")
set_var

{'avengers', 'hitman', 'hulk', 'ironman'}

In [12]:
set_sort = {1,2,3,6,8,3}
set_sort

{1, 2, 3, 6, 8}

In [17]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [14]:
set2.intersection_update(set1)

In [15]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [18]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [19]:
## Difference update

set2.difference_update(set1)

In [20]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [21]:
set2

{'Hulk2'}

Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [22]:
dic={}

In [23]:
type(dic)

dict

In [24]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [25]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [26]:
my_dict[0]  # you have to pass key not index 

# error

KeyError: 0

In [29]:
# keys 

for x in my_dict.keys():
    print(x)

Car1
Car2
Car3

In [27]:
# We can even loop throught the dictionaries values
# value 
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [ ]:
# adding one  more car to dictinary 


my

In [30]:

people = [
    {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
    {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
    {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
]

people

[{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
 {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'}]

In [32]:
sorted(people, key= lambda x: x['age'])

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [33]:


## Finding the key with maximum value in a dictionary


data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}



max(data,key=lambda x:data[x])

'b'

Nested Dictionary

In [34]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [35]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [36]:
print(car_type['car1']['Mercedes'])

1960

Tuples

In [37]:
## create an empty Tuples

my_tuple=tuple()

In [40]:
my_tuple=("Manvi","Ben","Garry")

In [42]:
## Inbuilt function


my_tuple.count('Manvi')

1

In [43]:

my_tuple.count('Ben')

1

In [46]:

my_tuple.index('Garry')

2